@using TASRequestForm.Common.Pagination
@using TASRequestForm.Web.Extensions
@model IPagedList<TASRequestForm.Core.Data.Entities.TestTime>
@{
    ViewBag.Title = "Declined";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid cort-white">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                @{ Html.RenderAction("LoadMenu", "Nav", new { active = "declined", area = "Admin" }); }
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                <p>
                    Showing requests (@Model.ItemStart - @Model.ItemEnd) of @Model.TotalItemCount
                </p>
                @if (Model.Count() == 0)
                {
                    <p>
                        There are currently no declined requests in the system.
                    </p>
                }
                else
                {
                    <table class="table table-bordered table-striped table-hover" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Instructor</th>
                                <th>Course</th>
                                <th>Status</th>
                                <th>Test</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="6">There are no declined TAS requests.</td>
                                </tr>
                            }
                            @foreach (var test in Model)
                            {
                                <tr>
                                    <td>@test.FormEntry.StudentIdentity.LastName, @test.FormEntry.StudentIdentity.FirstName (@test.FormEntry.StudentIdentity.CNumber)</td>
                                    <td>@test.FormEntry.ProfessorIdentity.LastName, @test.FormEntry.ProfessorIdentity.FirstName</td>
                                    <td>@test.FormEntry.Course</td>
                                    <td>
                                        <span class="label label-danger">Declined</span>
                                    </td>
                                    <td>@test.Title - @test.Date.ToString()</td>
                                    <td>
                                        <a href="@Url.Action("View", new { controller = "Requests", id = test.FormEntry.Id, area = "Admin" })" class="btn btn-success" title="View request"><span class="fa fa-eye"></span> View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o.DisplayTemplate("_BootstrapPagination"))
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(".row-link").on("click", function () {
            window.document.location = $(this).data("href");
        });
    })
    </script>
}