@using TASRequestForm.Core.Data.Entities
@model FormEntry

<html>
<head>
    <title></title>
</head>
<body>
    <p>
        @Model.StudentIdentity.FirstName @Model.StudentIdentity.LastName,
        <br /><br />
        <em>@Model.ProfessorIdentity.FirstName @Model.ProfessorIdentity.LastName</em> has denied your request to take the following test(s) for course <em>@Model.Course</em>:
    </p>
    @if (Model.QuizTimes.Count > 0)
    {
        <h4>Quizzes:</h4>
        <ul>
            @foreach (var quiz in Model.QuizTimes)
            {
                <li>
                    @quiz.Title - @quiz.Date.ToString()
                </li>
            }
        </ul>
    }
    @if (Model.ExamTimes.Count > 0)
    {
        <h4>Exams:</h4>
        <ul>
            @foreach (var exam in Model.ExamTimes)
            {
                <li>
                    @exam.Title - @exam.Date.ToString()
                </li>
            }
        </ul>
    }
    @if (Model.FinalExamTime != null)
    {
        <h4>Final Exams:</h4>
        <ul>
            <li>
                @Model.FinalExamTime.Title - @Model.FinalExamTime.Date.ToString()
            </li>
        </ul>
    }
    @if (Model.ProfessorNotes.Count > 0)
    {
        <p>
            The following note has been added by your instructor as reason for the denial:<br /><br />
            <blockquote>@Model.ProfessorNotes[0].Value</blockquote>
        </p>
    }
    <p>
        You may <a href="https://webapp.cortland.edu/TASRequestForm/Student/Request/@Model.Id">view your request</a> to see the instructor's reasons for denying at any time.
    </p>
</body>
</html>