@using TASRequestForm.Core.Data.Entities
@model FormEntry

<html>
<head>
    <title></title>
</head>
<body>
    <p>
        Professor @Model.ProfessorIdentity.FirstName @Model.ProfessorIdentity.LastName,
        <br /><br />
        This is a reminder that <em>@Model.StudentIdentity.FirstName @Model.StudentIdentity.LastName</em> has requested to take the following test(s) for the course <em>@Model.Course</em>:
    </p>
    @if (Model.QuizTimes.Count > 0)
    {
        <h4>Quizzes:</h4>
        <ul>
            @foreach (var quiz in Model.QuizTimes)
            {
                <li>
                    @quiz.Title - @quiz.Date.ToString()
                </li>
            }
        </ul>
    }
    @if (Model.ExamTimes.Count > 0)
    {
        <h4>Exams:</h4>
        <ul>
            @foreach (var exam in Model.ExamTimes)
            {
                <li>
                    @exam.Title - @exam.Date.ToString()
                </li>
            }
        </ul>
    }
    @if (Model.FinalExamTime != null)
    {
        <h4>Final Exams:</h4>
        <ul>
            <li>
                @Model.FinalExamTime.Title - @Model.FinalExamTime.Date.ToString()
            </li>
        </ul>
    }
    <p>
        Please <a href="https://webapp.cortland.edu/TasRequestForm/Instructor/Request/@Model.Id">approve or deny this request</a> and provide additional information for Test Administration staff.
    </p>
    <p>
        You may always <a href="https://webapp.cortland.edu/TasRequestForm">view all of your student requests</a>.
    </p>
</body>
</html>