@using TASRequestForm.Core.Data.Entities
@model FormEntry

@{
    ViewBag.Title = "Instructor Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid cort-white">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <h2>Denied!</h2>
                    <p>
                        <strong>@Model.ProfessorIdentity.FirstName @Model.ProfessorIdentity.LastName</strong>,
                        <br />
                        You have denied a Test Administration Services Request from the student
                        <em>@Model.StudentIdentity.FirstName @Model.StudentIdentity.LastName</em> for the course <em>@Model.Course</em> due to the following reason:
                    </p>
                    <p>
                        @Model.ProfessorNotes.OrderByDescending(x => x.Id).First().Value
                    </p>
                </div>
                <p>
                    <a href="@Url.Action("Index", new { controller = "Home" })">&laquo; Back to the dashboard</a>
                    <br />
                    <a href="@Url.Action("Pending", new { controller = "Instructor" })">&laquo; Back to the pending requests</a>
                </p>
            </div>
        </div>
    </div>
</div>